body {
  background: rgb(3, 50, 3);
  color: white;
  font-family: sans-serif;
}

.control {
  background: rgb(2, 15, 2);
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5rem;
  border-radius: 2.5rem;
  h3{
    width: 100%;
    text-align: center;;
  }
  input {
    width: 25rem;

  }
}
